body {
	font-size: 30px;
}

div {
	outline: black solid thin;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

li {
	list-style-type: none;
    float: left;
    padding: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

.categoriesImg:hover {
	outline-color: green;
	outline-style: dashed;
	outline-width: thin;
	border-radius: 100px;
}



/*#grocerybag {
	width: 500px;
	padding: 100px;
}

.products_images {
	width: 250px;
	display: block;
    float: left;
}*/