body {
	font-size: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

li {
	list-style-type: none;
    float: left;
    padding: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

#grocerybag {
	width: 500px;
	padding: 100px;
	margin-top: 300px;
}

.products_images {
	width: 250px;
	display: block;
    float: left;
}