body {
	font-size: 30px;
}

h1 {
	text-align: center;
	font-family: 'Shrikhand', cursive;
	text-shadow: 16px 20px 1px rgba(0, 0, 0, 0.09);
}

#season_discountkey {
	font-family: 'Farsan', cursive;
	width: 15%;
	height: 5%;
	background-color: gold;
}

option {
font-family: 'Farsan', cursive;
}

div {
/*	outline: black solid thin;*/
	  /*margin: -0.563em 0 0 -0.563em;*/
	  margin: 0px 0px 0px 5px;
}

#inventory {
	margin: 2%;
	display: inline-block;
	font-family: 'Poiret One', cursive;
}

#household {
	height: 20px;
}

#products {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: 	0.563em;
	margin-right: 	0.563em;
	margin-bottom: 	0.563em;
	margin-top: 	0.563em;

}

.overlay {
	bottom: 0;
    left: 0;
    right: 0;
    background-color: #68B0AB;
    overflow: hidden;
    height: 0;
  	transition: .5s ease;
}

.card {
	justify-content: center
 	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-width: 1px;
    border-radius: 5px;
    background-color: #FAF3DD;
    margin: 	0.563em;
    width: 30%
}

.card:hover .overlay{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    margin: 5px;

}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-left: -45px;
}

li {
	list-style-type: none;
	margin: 10px 10px 10px 10px;
	text-align: center;
	font-family: 'Poiret One', cursive;
}

li a {
    color: white;
/*    text-decoration: none;*/
}

li a:hover {
    background-color: #111111;
}

h4 {
	font-family: 'Shrikhand', cursive;
	color: #4A7C59;
	text-align: center;

}

h4:hover {
	color: #68B0AB;

}

.image {
    height: auto;
    text-align: justify;
}

img.nav {
	margin: 5px 10px -12px 10px;
	text-align: justify;
}


.nav:hover {
	outline-color: green;
	outline-style: dashed;
	outline-width: thin;
	border-radius: 100px;
}

img {
/*	margin-left: 31%;*/
	margin-bottom: 10%;
	margin-left: 31%;
}

/*//css images//*/

#canvas {

}


/*#grocerybag {
	width: 500px;
	padding: 100px;
}

.products_images {
	width: 250px;
	display: block;
    float: left;
}*/